@import "theme";
@include theme();
@import "scss/kanagawa";

:root {
  --dark-background: #1f1f27; // dark grey
  --c-page: var(--dark-background);
  --light-font: hsl(214, 41.1%, 78.0%); // lightsteelblue
  --f-color: var(--light-font);

  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --bg: #101010;
  --fg: #c5c5c5;
  /* --sidebar-bg: #191c1a; */
  --sidebar-bg: #161616;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #5c6773;
  /* --sidebar-active: #ffb454; */
  --sidebar-active: #bfa4ff; /* purple1-4 */
  --sidebar-spacer: #2d334f;

  --links: #0096cf; /* blue */
  --active-header: #afa4ff; /* purple3-4 */
  --warning-border: #ff8e00;
}

* {
  box-sizing: border-box;
  background: var(--bg);
}

pre {
  white-space: pre-wrap;
}
